.home-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #152850;
}
.nav-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
}
.logo-img {
  height: 100px;
  width: 140px;
  margin: 30px;
}
.logout-btn {
  height: 40px;
  width: 100px;
  border-color: #ffff;
  border-width: 2px;
  background-color: transparent;
  color: #e0eefe;
  margin: 30px;
  cursor: pointer;
}
.hme-heading {
  font-size: 50px;
  color: #ffff;
}
